In [1]:
import pandas as pd
import re
from bs4 import BeautifulSoup
import numpy as np

In [4]:
df_Beilagen_v1 = pd.read_excel('beilagen_Session15_tables.xlsx', header=None, names=['Transkribus_No', 'Image_No', 'Beilagen_No', 'Titel', 'Datum'])
df_Beilagen_v1.head()

C:\Users\georg\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Transkribus_No,Image_No,Beilagen_No,Titel,Datum
0,1,image_00000663.tif,1,"5\nRegierungsvorlage: Gesetzentwürfe, betreffe...",2. Sitzung vom 29. Sept.\n(Seite 18).
1,1,image_00000663.tif,NaN,"I. Gesetz, wodurch das Ministerium der im Reic...",NaN
2,1,image_00000663.tif,NaN,"schwebenden Schul\nII. Gesetz, wodurch das Min...",NaN
3,1,image_00000663.tif,NaN,"Ausprägung von F\nIII. Gesetz, womit im Zusatz...",NaN
4,1,image_00000663.tif,NaN,"angeordnet wir\n1;\nIV. Gesetz, wodurch das Mi...",NaN

In [5]:
df_Beilagen_v1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484 entries, 0 to 483
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Transkribus_No  484 non-null    int64
 1   Image_No        484 non-null    object
 2   Beilagen_No     427 non-null    object
 3   Titel           484 non-null    object
 4   Datum           183 non-null    object
dtypes: int64(1), object(4)
memory usage: 19.0+ KB

In [6]:
df_Beilagen_v1 = df_Beilagen_v1.drop('Datum', axis=1)
df_Beilagen_v1 = df_Beilagen_v1.drop('Transkribus_No', axis=1)

In [7]:
df_Beilagen_v1

,Image_No,Beilagen_No,Titel
0,image_00000663.tif,1,"5\nRegierungsvorlage: Gesetzentwürfe, betreffe..."
1,image_00000663.tif,NaN,"I. Gesetz, wodurch das Ministerium der im Reic..."
2,image_00000663.tif,NaN,"schwebenden Schul\nII. Gesetz, wodurch das Min..."
3,image_00000663.tif,NaN,"Ausprägung von F\nIII. Gesetz, womit im Zusatz..."
4,image_00000663.tif,NaN,"angeordnet wir\n1;\nIV. Gesetz, wodurch das Mi..."
...,...,...,...
479,image_00000707.tif,1423,Regierungsvorlage: Staatsvertrag vom 19. Jänne...
480,image_00000707.tif,Iung,Bericht des Immunitätsausschusses über das mit...
481,image_00000707.tif,425,Antrag des Abgeordneten Neunteufl und Genossen...
482,image_00000707.tif,sey,"Antrag der Abgeordneten Taniaczkiewicz, Dr. Ok..."
483,image_00000707.tif,'427,Beschluss des Abgeordnetenhauses über das Gese...

In [165]:
# Remove spaces at the beginning of the 'name' column
df_Beilagen_v1['Titel'] = df_Beilagen_v1['Titel'].astype(str).str.replace(r'^\s+', '', regex=True)
#remove line breaks
df_Beilagen_v1 = df_Beilagen_v1.replace(r'[\r\n]+', ' ', regex=True)
# Remove specific characters, e.g. "¬"
df_Beilagen_v1['Titel'] = df_Beilagen_v1['Titel'].astype(str).str.replace('¬', '', regex=False)

In [166]:
#supplement specific characters
df_Beilagen_v1['Titel'] = df_Beilagen_v1['Titel'].astype(str).str.replace('=', '-', regex=False)
df_Beilagen_v1['Titel'] = df_Beilagen_v1['Titel'].astype(str).str.replace('R. G. Bl.', 'RGBl.', regex=False)

In [168]:
#regex pattern
pattern = r'^\s*(Regierungsvorlage|Antrag|Bericht|Beschluss)'

#Maske um die Datensätze herauszufiltern, die nicht dem Schema entsprechen, also nicht mit "Regierungsvorlage", "Antrag" etc. beginnen
mask = ~df_Beilagen_v1['Titel'].astype(str).str.match(pattern)
df_subset = df_Beilagen_v1[mask]

In [169]:
# Create a boolean mask for rows NOT starting with those words
mask = ~df_Beilagen_v1['Titel'].astype(str).str.match(pattern)

In [170]:
# Define a highlight function for the "Titel" column
def highlight_filtered(val):
    """Highlight only rows that do NOT start with the target words."""
    if re.match(pattern, str(val)):
        return ''  # no highlight
    return 'background-color: lightcoral'  # red background for filtered rows

In [171]:
# Define a highlight function for empty cells in column "Beilagen_No"
def highlight_empty(val):
    """Highlight empty or NaN cells in orange."""
    if pd.isna(val) or str(val).strip() == '':
        return 'background-color: orange'
    return ''

In [172]:
# Apply both styles
styled = (
    df_Beilagen_v1.style
      .applymap(highlight_filtered, subset=['Titel'])
      .applymap(highlight_empty, subset=['Beilagen_No'])
)

In [173]:
# Export to Excel with highlights
styled.to_excel('beilagen_Session15_tables_v1.xlsx', index=False)

File heruntergeladen. Gelb markierte Felder zeigen null values im Feld 'Beilagen_No', rot markierte Zeigen values in 'Titel', die nicht den trigger words (Regierungsvorlage, Antrag, Bericht, Beschluss) entsprechen und damit i.d.R. auch keine Beilagennummer haben sollten. Im besten Fall sollten also gelb und rot markierte Zellen sich ergänzen; tun sie das nicht, aufpassen! Wichtig ist, dass nur die tatsächlichen Beilagen am Ende noch einen value im Feld "Beilagen_No" besitzen. Speichern als beilagen_Session15_tables_v2.xlsx

In [174]:
df_Beilagen_v2 = pd.read_excel('beilagen_Session15_tables_v2.xlsx')

In [139]:
# Column to store appended values
#df_Beilagen_2['Enthaelt'] = None

# Keep track of rows to delete
#rows_to_drop = []

#for i in range(1, len(df_Beilagen_2)):
    # Check if Beilagen_No is null
    #if pd.isna(df_Beilagen_2.loc[i, 'Beilagen_No']):
        # Append current row's Titel to previous row's Enthaelt
        #if df_Beilagen_2.loc[i-1, 'Enthaelt'] is None:
            #df_Beilagen_2.loc[i-1, 'Enthaelt'] = df_Beilagen_2.loc[i, 'Titel']
        #else:
            #df_Beilagen_2.loc[i-1, 'Enthaelt'] += ' | ' + df_Beilagen_2.loc[i, 'Titel']
        # Mark current row for deletion
       #rows_to_drop.append(i)

# Drop the rows that were appended
#df_Beilagen_2 = df_Beilagen_2.drop(rows_to_drop).reset_index(drop=True)
#df_Beilagen_2

In [54]:
# Define the target words
#targets = ['Regierungsvorlage', 'Antrag', 'Bericht', 'Beschluss']

# Extract into a new column
#df_Beilagen_2['Typ'] = df_Beilagen_2['Titel'].str.extract(pattern)

In [175]:
df_Beilagen_v2 = df_Beilagen_v2[~df_Beilagen_v2['Beilagen_No'].isna() & (df_Beilagen_v2['Beilagen_No'].str.strip() != '')]
df_Beilagen_v2.head()

,Image_No,Beilagen_No,Titel
0,image_00000663.tif,1,"Regierungsvorlage: Gesetzentwürfe, betreffend ..."
11,image_00000664.tif,2,Regierungsvorlage: Gesetz wegen theilweiser Ab...
12,image_00000664.tif,3,Regierungsvorlage: Gesetz wegen einiger Änderu...
13,image_00000664.tif,4,Regierungsvorlage: Gesetz wegen theilweiser Ab...
14,image_00000664.tif,5,"Regierungsvorlage: Gesetz, betreffend die Verg..."

Nochmal herunterladen und die Beilagennummern abchecken. Falls alles passt, als v4 wieder abspeichern.

In [176]:
df_Beilagen_v2.to_excel('beilagen_Session15_tables_v3.xlsx', index=False)

In [177]:
df_Beilagen_v4 = pd.read_excel('beilagen_Session15_tables_v4.xlsx')
df_Beilagen_v4.head()

,Image_No,Beilagen_No,Titel
0,image_00000663.tif,1,"Regierungsvorlage: Gesetzentwürfe, betreffend ..."
1,image_00000664.tif,2,Regierungsvorlage: Gesetz wegen theilweiser Ab...
2,image_00000664.tif,3,Regierungsvorlage: Gesetz wegen einiger Änderu...
3,image_00000664.tif,4,Regierungsvorlage: Gesetz wegen theilweiser Ab...
4,image_00000664.tif,5,"Regierungsvorlage: Gesetz, betreffend die Verg..."

In [178]:
# Path to your HTML/XML file
file_path = 'https___alex.onb.ac.at_cgi-content_alex_aid=spa&datum=0015&pos=4009&size=45.html'   # change this to your actual file

In [179]:
# Read file
with open(file_path, 'r', encoding='utf-8') as f:
    html = f.read()

# Parse with BeautifulSoup
soup = BeautifulSoup(html, 'html.parser')

In [180]:
# Regex pattern: Match exactly "Beilagen " followed by a number range (e.g. 2–10)
pattern = re.compile(r'^Beilagen\s+\d+\s*-\s*\d+$')

data = []
for label in soup.find_all('label', title=True):
    title = label['title'].strip()
    # Keep only titles like "Beilagen 2-10", "Beilagen 383-427", etc.
    if pattern.match(title):
        a_tag = label.find('a', href=True)
        if a_tag:
            href = a_tag['href']
            full_url = 'https://alex.onb.ac.at' + href
            data.append((title, full_url))

In [181]:
# Create a DataFrame
df_Links = pd.DataFrame(data, columns=['Title', 'URL'])
df_Links

               Title                                                URL
0      Beilagen 2-10  https://alex.onb.ac.at/cgi-content/alex?aid=sp...
1     Beilagen 11-20  https://alex.onb.ac.at/cgi-content/alex?aid=sp...
2     Beilagen 21-50  https://alex.onb.ac.at/cgi-content/alex?aid=sp...
3    Beilagen 51-110  https://alex.onb.ac.at/cgi-content/alex?aid=sp...
4   Beilagen 111-151  https://alex.onb.ac.at/cgi-content/alex?aid=sp...
5   Beilagen 152-175  https://alex.onb.ac.at/cgi-content/alex?aid=sp...
6   Beilagen 176-209  https://alex.onb.ac.at/cgi-content/alex?aid=sp...
7   Beilagen 210-262  https://alex.onb.ac.at/cgi-content/alex?aid=sp...
8   Beilagen 263-300  https://alex.onb.ac.at/cgi-content/alex?aid=sp...
9   Beilagen 301-340  https://alex.onb.ac.at/cgi-content/alex?aid=sp...
10  Beilagen 341-365  https://alex.onb.ac.at/cgi-content/alex?aid=sp...
11  Beilagen 366-382  https://alex.onb.ac.at/cgi-content/alex?aid=sp...
12  Beilagen 383-427  https://alex.onb.ac.at/cgi-content/alex?aid=sp...

In [182]:
df_Links[['Start', 'End']] = (
    df_Links['Title']
    .str.extract(r'(\d+)\s*-\s*(\d+)')
)

# Coerce to numeric and drop bad rows
df_Links['Start'] = pd.to_numeric(df_Links['Start'], errors='coerce')
df_Links['End'] = pd.to_numeric(df_Links['End'], errors='coerce')

# Drop rows where Start or End could not be converted to a number
df_Links = df_Links.dropna(subset=['Start', 'End']).astype({'Start': int, 'End': int})

In [183]:
intervals = pd.IntervalIndex.from_arrays(df_Links['Start'], df_Links['End'], closed='both')

def map_url(num):
    """Map a numeric value to its corresponding URL, or return None."""
    mask = intervals.contains(num)
    if mask.any():
        return df_Links.loc[mask, 'URL'].iloc[0]
    return None

In [184]:
# --- Apply mapping only to numeric cells ---
def safe_map(val):
    # Try converting to numeric, skip if fails
    try:
        num = float(val)
        return map_url(num)
    except (ValueError, TypeError):
        return np.nan  # skip text or invalid entries

df_Beilagen_v4['Externer Link'] = df_Beilagen_v4['Beilagen_No'].apply(safe_map)
df_Beilagen_v4.head()

,Image_No,Beilagen_No,Titel,Externer Link
0,image_00000663.tif,1,"Regierungsvorlage: Gesetzentwürfe, betreffend ...",None
1,image_00000664.tif,2,Regierungsvorlage: Gesetz wegen theilweiser Ab...,https://alex.onb.ac.at/cgi-content/alex?aid=sp...
2,image_00000664.tif,3,Regierungsvorlage: Gesetz wegen einiger Änderu...,https://alex.onb.ac.at/cgi-content/alex?aid=sp...
3,image_00000664.tif,4,Regierungsvorlage: Gesetz wegen theilweiser Ab...,https://alex.onb.ac.at/cgi-content/alex?aid=sp...
4,image_00000664.tif,5,"Regierungsvorlage: Gesetz, betreffend die Verg...",https://alex.onb.ac.at/cgi-content/alex?aid=sp...

In [185]:
df_Beilagen_v4.to_excel('beilagen_Session15_tables_v5.xlsx', index=False)